[Unit]
Description=Remove the reboot-required file from /var/run/ if present
[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/pmrr-remove-reboot-required
[Install]
WantedBy=multi-user.target
